/*

!.gitignore
!.bashrc
!.tmux.conf

!.config
.config/*
!.config/fish
!.config/kitty
!.config/kitty
!.config/gramma
.config/gramma/.*
!.config/lazygit
.config/lazygit/state.yml
!.config/neofetch
!.config/nvim
!.config/omf
!.config/vifm
.config/vifm/vifminfo.json

